<swiper-container>
  <swiper-slide *ngFor="let animation of animations">
    <ion-card mode="ios" (click)="playAnimation(animation.title)">
      <ion-card-header>
        <ion-button mode="ios" (click)="playAnimation(animation.title)" *ngIf="showVideo !== animation.title">
          <ion-icon slot="icon-only" name="play"></ion-icon>
        </ion-button>
        <ion-img [src]="animation.image" alt=""  *ngIf="showVideo !== animation.title"></ion-img>
        <video controls autoplay *ngIf="showVideo === animation.title">
          <source [src]="animation.videoAddress" type="video/mp4">
        </video>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
  </swiper-slide>
</swiper-container>

<div id="cartoon" role="img" aria-labelledby="description">
  <div class="body" [ngClass]="{'body-animation': rnuBodyAnimation}"></div>
  <div class="ear"></div>
  <div class="ear"></div>
  <div class="neck"></div>
  <app-character-hair1 class="show-animation hair1 hair1-back" [isHairBack]="true"></app-character-hair1>
  <div class="face face-dance" id="face">
    <div class="cheeks"></div>
    <div class="eye" [ngClass]="{'happy-eye-animation': isCharacterHappy}">
      <div class="pupil" [ngClass]="{'pupil-animation': runPupilAnimation, 'happy-pupil-animation': isCharacterHappy}"></div>
    </div>
    <div class="eye" [ngClass]="{'happy-eye-animation': isCharacterHappy}">
      <div class="pupil" [ngClass]="{'pupil-animation': runPupilAnimation, 'happy-pupil-animation': isCharacterHappy}"></div>
    </div>
    <div class="mouth" [ngClass]="{'happy-mouth-animation': isCharacterHappy}"></div>
    <div class="freckles"></div>
    <div class="nose"></div>
  </div>
  <app-character-hair1 class="show-animation hair1" [isHairTop]="true"></app-character-hair1>
</div>