<ion-grid fixed class="item-box">
  <ion-row class="show-animation" *ngIf="!isSelectColorTurn">
    <ion-col size="12" *ngIf="isHair1Selected || isHat1Selected || isHat2Selected" class="ion-justify-content-end">
      <ion-button mode="ios" (click)="changeSelectColorTurn(true)">
        <ion-icon slot="icon-only" name="caret-forward-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-img class="item" src="../../../assets/images/dannys-nurse/hair1.png" (touchstart)="hair1Touch($event)"
        (touchend)="hair1Touch($event)" (touchmove)="hair1Touch($event)" id='hair1'></ion-img>
    </ion-col>
    <ion-col size="4">
      <ion-img class="item" src="../../../assets/images/dannys-nurse/hat1.png" (touchstart)="hat1Touch($event)"
        (touchend)="hat1Touch($event)" (touchmove)="hat1Touch($event)" id='hat1'></ion-img>
    </ion-col>
    <ion-col size="4">
      <ion-img class="item" src="../../../assets/images/dannys-nurse/hat2.png" (touchstart)="hat2Touch($event)"
        (touchend)="hat2Touch($event)" (touchmove)="hat2Touch($event)" id='hat2'></ion-img>
    </ion-col>
  </ion-row>
  <ion-row class="show-animation" *ngIf="isSelectColorTurn">
    <ion-col size="6" class="ion-margin-bottom">
      <ion-button mode="ios" (click)="changeSelectColorTurn(false)">
        <ion-icon slot="icon-only" name="caret-back-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="6" class="ion-margin-bottom ion-justify-content-end">
      <ion-button mode="ios" (click)="done.emit()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="4" *ngFor="let color of colors" class="ion-justify-content-center">
      <div class="color" [ngStyle]="{'background': color}" (click)="changeHairColor(color)"></div>
    </ion-col>
  </ion-row>
</ion-grid>

<div id="cartoon" role="img" aria-labelledby="description">
  <div class="body"></div>
  <div class="ear"></div>
  <div class="ear"></div>
  <div class="neck"></div>
  <app-character-hair1 class="show-animation hair1 hair1-back" [hairBackgroundColor]="selectedHairColor" [isHairBack]="true"
    *ngIf="isHair1Selected"></app-character-hair1>
  <div class="face" id="face">
    <div class="cheeks"></div>
    <div class="eye">
      <div class="pupil"></div>
    </div>
    <div class="eye">
      <div class="pupil"></div>
    </div>
    <div class="mouth" [ngClass]="{'snail-animation': isHair1Selected || isHat1Selected || isHat2Selected}"></div>
    <div class="freckles"></div>
    <div class="nose"></div>
  </div>
  <app-character-hair1 class="show-animation hair1" [hairBackgroundColor]="selectedHairColor" [isHairTop]="true"
    *ngIf="isHair1Selected"></app-character-hair1>

  <app-character-hat1 class="show-animation" *ngIf="isHat1Selected"
    [hatBackgroundColor]="getHat1BackgroundImage()"></app-character-hat1>
  <app-character-hat2 class="show-animation hat2" *ngIf="isHat2Selected"
    [hatBackgroundColor]="selectedHairColor"></app-character-hat2>

</div>