<ion-content [fullscreen]="true" [scrollY]="false" [scrollX]="false">
    <ion-grid class="ion-margin-top characters">
        <ion-row>
            <ion-col size="3" class="ion-justify-content-center"
            [ngClass]="{'moveRightLeft': setAnimationMoveRightLeft(i), 'moveLeftRight': !setAnimationMoveRightLeft(i), }"
                    *ngFor="let character of characters; let i = index">
                <ion-img src="../../assets/images/bad-cell/bad-cell.png" *ngIf="character === 0"></ion-img>
                <ion-img src="../../assets/images/bad-cell/good-cell.png" *ngIf="character === 1"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<ion-footer class="ion-no-border">
    <ion-img src="../../assets/images/bad-cell/spaceship.png"></ion-img>
    <ion-grid>
        <ion-row>
            <ion-col size="4" class="ion-justify-content-start">
                <ion-button mode="ios" (click)="shoot()">
                    <ion-icon slot="start" name="add-circle-outline"></ion-icon>
                    {{ bullet }}
                </ion-button>
            </ion-col>
            <ion-col size="8" class="ion-justify-content-end">
                <ion-button mode="ios">
                    <ion-icon slot="icon-only" name="caret-forward-outline"></ion-icon>
                </ion-button>
                <ion-button mode="ios">
                    <ion-icon slot="icon-only" name="caret-back-outline"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
