<ion-card>
  <ion-img [src]="imageAddress"></ion-img>
  <ion-card-header>
    <ion-card-title>{{ title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-accordion-group>
      <ion-accordion>
        <ion-item slot="header">
          <ion-label>توضیحات</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">{{ description }}</div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card-content>
  <ion-button expand="block" mode="ios" class="ion-no-margin">
    شروع بازی
  </ion-button>
</ion-card>