<ion-card>
  <ion-img src="../../../assets/test.jpg"></ion-img>
  <ion-card-header>
    <ion-card-title>بازی بادکنک</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-accordion-group>
      <ion-accordion>
        <ion-item slot="header">
          <ion-label>توضیحات</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">اینجا توضیحات بازیه</div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card-content>
  <ion-button expand="block" mode="ios" class="ion-no-margin">
    شروع بازی
  </ion-button>
</ion-card>