<div id="cartoon" role="img" aria-labelledby="description">
  <div class="body"></div>
  <div class="ear"></div>
  <div class="ear"></div>
  <div class="neck"></div>
  <app-dannys-hair1 class="hair1 hair1-back" [isHairBack]="true"></app-dannys-hair1>
  <div class="face" id="face">
    <div class="cheeks"></div>
    <div class="eye">
      <div class="pupil"></div>
    </div>
    <div class="eye">
      <div class="pupil"></div>
    </div>
    <div class="mouth" [ngClass]="{'eating-mode-animation': isEatingMode, 'snail-animation': isHappyDanny}" id="mouth"></div>
    <div class="freckles"></div>
    <div class="nose"></div>
  </div>
  <app-dannys-hair1 class="hair1" [isHairTop]="true"></app-dannys-hair1>
</div>

<div class="item-box"></div>
<div class="ion-padding">
  <ion-button mode="ios" (click)="setShowDannysFoodHave()">
    <ion-icon slot="icon-only" name="alert-circle-outline"></ion-icon>
  </ion-button>
  <swiper-container [slidesPerView]="3.5" class="ion-margin-top">
    <swiper-slide *ngFor="let food of foods">
      <ion-img [src]="food.image" [id]="food.elementId" (touchstart)="foodTouch($event, food.elementId)"
      (touchend)="foodTouch($event, food.elementId)" (touchmove)="foodTouch($event, food.elementId)"></ion-img>
    </swiper-slide>
  </swiper-container>
</div>

<div class="message-box show-message-animation" *ngIf="showDannysFoodHave">
  <div class="triangle"></div>
  <div class="message">
    <ion-img [src]="selectedFood.image"></ion-img>
    <ion-label>{{ selectedFood.title }}</ion-label>
  </div>
</div>