.hat1-top {
	position: relative;
	left: 27.5%;
	top: 3%;
	width: 45%;
	height: 30%;
	border: solid 1.5px black;
	border-radius: 50% 50% 0 0;
}

.hat1-bottom {
	position: relative;
	left: 25%;
	top: 0;
	width: 50%;
	height: 3%;
	background: orange;
	border: solid 1.5px #000;
	border-radius: 50% 50% 0 0;
}