<ion-grid fixed class="item-box">
  <ion-row class="show-animation" *ngIf="!isSelectColorTurn">
    <ion-col size="12" *ngIf="selectedItem != ''" class="ion-justify-content-end">
      <ion-button mode="ios" (click)="changeSelectColorTurn(true)">
        <ion-icon slot="icon-only" name="caret-forward-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="4" *ngFor="let item of items">
      <ion-img class="item" [src]="item.image" (touchstart)="itemTouch($event, item.elementId)"
        (touchend)="itemTouch($event, item.elementId)" (touchmove)="itemTouch($event, item.elementId)" [id]='item.elementId'></ion-img>
    </ion-col>
  </ion-row>
  <ion-row class="show-animation" *ngIf="isSelectColorTurn">
    <ion-col size="6" class="ion-margin-bottom">
      <ion-button mode="ios" (click)="changeSelectColorTurn(false)">
        <ion-icon slot="icon-only" name="caret-back-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="6" class="ion-margin-bottom ion-justify-content-end">
      <ion-button mode="ios" (click)="done.emit()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="4" *ngFor="let color of colors" class="ion-justify-content-center">
      <div class="color" [ngStyle]="{'background': color}" (click)="changeHairColor(color)"></div>
    </ion-col>
  </ion-row>
</ion-grid>

<div id="cartoon" role="img" aria-labelledby="description">
  <div class="body"></div>
  <div class="ear"></div>
  <div class="ear"></div>
  <div class="neck"></div>
  <app-dannys-hair1 class="show-animation hair1 hair1-back" [hairBackgroundColor]="selectedHairColor" [isHairBack]="true"
    *ngIf="selectedItem == 'hair1'"></app-dannys-hair1>
  <div class="face" id="face">
    <div class="cheeks"></div>
    <div class="eye">
      <div class="pupil"></div>
    </div>
    <div class="eye">
      <div class="pupil"></div>
    </div>
    <div class="mouth" [ngClass]="{'snail-animation': selectedItem != ''}"></div>
    <div class="freckles"></div>
    <div class="nose"></div>
  </div>
  <app-dannys-hair1 class="show-animation hair1" [hairBackgroundColor]="selectedHairColor" [isHairTop]="true"
    *ngIf="selectedItem == 'hair1'"></app-dannys-hair1>

  <app-dannys-hat1 class="show-animation" *ngIf="selectedItem == 'hat1'"
    [hatBackgroundColor]="getHat1BackgroundImage()"></app-dannys-hat1>
  <app-dannys-hat2 class="show-animation hat2" *ngIf="selectedItem == 'hat2'"
    [hatBackgroundColor]="selectedHairColor"></app-dannys-hat2>

</div>