ion-footer {
    background: var(--ion-color-light);
    background-color: var(--ion-color-light);
}

ion-col {
    display: flex;
    justify-content: center;
}

ion-button {
    width: 100%;
    height: 80px;
}